#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.element {
  position: relative;
  float: left;
  border: 2px solid black;
}

.element:after {
  content: "";
  display: grid;
  grid-column-start: 1;
  grid-column-end: 19;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

#container {
	top:100px;
	left:0px;
}
